.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 1em;

  padding: 1.4em 1.5em;

  color: var(--foreground);

  border: none;
  border-radius: 50px;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
