.card {
  position: relative;
  color: var(--foreground);
 }


.card__body {
  padding: 1.5rem;
  border: 1px solid var(--foreground);
  border-radius: 15px;
}

.card__section:not(:last-child) {
  margin-bottom: 2rem;
}

.card__sub-title {
  margin-bottom: 1.45rem;
  color: currentColor;
  text-align: center;
  font-size: 2rem;
}

