.container {
  margin: 0 auto;
  max-width: 1200px;
}

.h1, .h2, .h3 {
  color: var(--foreground);
}

.link {
  color: var(--link-color);
}
.link:hover {
  color: var(--link-hover-color);
}
.link:active {
  color: var(--link-active-color);
}

ul {
  list-style: none;
}

p {
  margin: 0;
}

svg {
  color: var(--foreground);
}
