.pageTitle{
  margin: 0;
  text-align: center;
  font-size: calc(1.375rem + 3.8vw);
  text-transform: uppercase;
}

.section {
  background-color: var(--background);
}

.sectionCampProgram {
  background-color: var(--background-camp-program);
}

.sectionLayerWrapper {
  position: relative;

  &__underlayer {
    position: absolute;
    inset: 0;
    background-color: var(--background);
    opacity: .7;
  }
}


.sectionInner {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.title {
  margin-bottom: 1.45rem;
  color: var(--foreground);
  text-align: center;
}

.sectionTitle {
  font-size: calc(1.375rem + 5vw);
  text-transform: uppercase;
}

.subSection {
  position: relative;
  min-height: calc(100vh - 90px);
  padding-block: 4rem;
  z-index: 10;
}

.subSectionCentered {
  composes: centered from "../styles/utils/wrapper-centered.module.scss";
  flex-direction: column;
}

.fullWidth {
  margin-inline: -15px;
}

.subSectionTitle {
  font-size: 2rem;
}

.text {
  text-align: justify;
}

.text:not(:last-of-type) {
  margin-bottom: 1em;
}

.wrapperMultiStar {
  position: absolute;
  top: -40px;
  right: 20px;

  svg {
    width: 80px;
    filter: drop-shadow(3px 3px 4px currentColor);
  }
}

.background {
  position: absolute;
  inset: 0;
  z-index: -10;

  composes: background from "../styles/utils/background.modules.scss";;
  background-size: cover;

  &__underlayer {
    position: absolute;
    inset: 0;
    background-color: var(--background);
    opacity: .7;
  }
}

.backgroundTest {
  background-image: url("../../public/img/test-background.jpg");
}

.backgroundSkaterOnIce {
  background-image: url("../../public/img/background/skaters-on-ice.webp");
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 80%;
}

.listItem {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.3em;

  font-size: calc(1rem + .5vw);

  svg {
    min-width: 36px;
    height: auto;
  }
}

.listItemDash::before {
  content: '\2014';
}

.btn {
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  border: 1px solid currentColor;
}

.highlight {
  color: var(--accent-color);
}



